---
layout: default
---
<article class="post">

  <div class="post-content">
    {{ content }}

    <div class="math-notes row">
    {% include math-notes_tags.html %}
    {% for i in site.data.math-notes %}
    <div class="math-notes-item col-md-4 col-sm-6 col-xs-12" data-tags='{{ i.tags | jsonify | downcase }}'>
    	<div class="well math-notes-outer">
    		<div class="math-notes-inner">
    			<a href="/static/math-notes/{{ i.image }}" class="thickbox">
    			<div class="math-notes-img bordered" style="background-image: url('/static/math-notes/{{ i.image }}');"></div>
                </a>
                {% if i.url %} <a href="{{ i.url }}"> {% endif %}
    			<h3 class="math-notes-headlines">{{ i.name }}</h3>
    			{% if i.url %} </a> {% endif %}
    			<div class="math-notes-content">
    				<div class="tag-holder">
    				{% if i.tags %} 
    					{% for j in i.tags %}
    					<span class="label tags tag-filter" data-tag="{{ j | downcase }}">{{ j }}</span>
    					{% endfor %}
    				{% endif %}
    				</div>
    				
    			</div>
    			<div class="math-notes-footer"> 
    				{% if i.url %} 
    				<a href="{{ i.url }}" class="btn btn-info btn-raised btn-sm math-notes-link">View</a>
    				{% endif %}
    				<span class="math-notes-timeline">{{ i.date }}</span>
    			</div>
    		</div>
    	</div>
        </div>
    {% endfor %}
    </div>
  </div>

</article>
